<div class="">
  <div class="breadcrumb">
      <h1>GESTION CHAUFFEURS</h1>
      <!-- <ul>
          <li><a href="#">Data Table</a></li>
          <li>Bootstrap Table</li>
      </ul> -->
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="row">
    <div class="row">
      <div class="col-md-4 mb-4">
        <button class="btn plusbtn btn-primary float-right"  (click)="open(modalBasic)" >
          <i class="i-Add"></i> NOUVEAU CHAUFFEUR
        </button>
      </div>
      <!-- <div class="col-md-6 mb-4">
        <button class="btn plusbtn btn-primary float-right" [routerLink]="['/invoice/new']">
          <i class="i-car"></i> LIVRAISON
        </button>
      </div> -->
    </div>

    <div class="col-md-12">
      <div class="card o-hidden">


          <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th scope="col" >#</th> -->
                <th scope="col"  >Prénom et Nom</th>
                <th scope="col"  >Téléphone</th>
                <th scope="col"  >Plaque Camion</th>
                <th scope="col"  >Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of chauffeurs | paginate: { itemsPerPage: pageSize, currentPage: page }">
                  <!-- <th scope="row" class="ps-3">{{ c.id_chauffeur }}</th> -->
                  <td>{{ c.nom_chauffeur }}</td>
                  <td>{{ c.telephone }}</td>
                  <td>{{ c.plaque_camion }}</td>
                  <!-- <td>
                      <div class="badge" [ngClass]="{
                          'text-bg-success': invoice.statut === 'Livrée',
                          'text-bg-warning': invoice.statut === 'En cours',
                          'text-bg-danger': invoice.statut === 'En attente'
                      }">
                          {{ invoice.statut }}
                      </div>
                  </td> -->
                  <td>
                      <button class="btn btn-outline-danger" (click)="deleteInvoice(invocice.id, deleteConfirmModal)"><i class="i-Remove-Basket"></i></button>
                  </td>
              </tr>
          </tbody>
          <div class="col-md-12 mt-3 d-flex justify-content-center" *ngIf="chauffeurs?.length">
            <pagination-controls (pageChange)="page = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
          </div>
          </table>
      </div>
    </div>

  </div>
</div>
<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">AJOUTER UN CHAUFFEUR</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form #chauffeurForm="ngForm">
      <!-- Champ Nom -->
      <div class="form-group mb-3">
        <label for="nomChauffeur">Nom</label>
        <input
          id="nomChauffeur"
          type="text"
          class="form-control"
          [(ngModel)]="chauffeur.nom_chauffeur"
          name="nom_chauffeur"
          placeholder="Entrez le nom du chauffeur"
          required
        />
        <div *ngIf="chauffeurForm.submitted && !chauffeur.nom_chauffeur" class="text-danger">
          Ce champ est requis.
        </div>
      </div>

      <!-- Champ Téléphone -->
      <div class="form-group mb-3">
        <label for="telephone">Téléphone</label>
        <input
          id="telephone"
          type="text"
          class="form-control"
          [(ngModel)]="chauffeur.telephone"
          name="telephone"
          placeholder="Entrez le numéro de téléphone"
          required
          pattern="^7[07-8][0-9]{7}$"
        />
        <div *ngIf="chauffeurForm.submitted && !chauffeur.telephone" class="text-danger">
          Ce champ est requis.
        </div>
        <div *ngIf="chauffeur.telephone && !telephone.valid && chauffeurForm.submitted" class="text-danger">
          Numéro invalide. Exemple: 77xxxxxxx
        </div>
      </div>

      <!-- Champ Plaque Camion -->
      <div class="form-group mb-3">
        <label for="plaqueCamion">Plaque Camion</label>
        <input
          id="plaqueCamion"
          type="text"
          class="form-control"
          [(ngModel)]="chauffeur.plaque_camion"
          name="plaque_camion"
          placeholder="Entrez la plaque du camion"
          required
          pattern="^[A-Z]{2}-\d{4}-[A-Z]{2}$"
        />
        <div *ngIf="chauffeurForm.submitted && !chauffeur.plaque_camion" class="text-danger">
          Ce champ est requis.
        </div>
        <div *ngIf="chauffeur.plaque_camion && !plaqueCamion.valid && chauffeurForm.submitted" class="text-danger">
          Format invalide. Exemple : AA-1234-BB
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="onSaveChauffeur(modal, chauffeurForm)"
    >
      Enregistrer
    </button>
    <button
      type="button"
      class="btn btn-danger btn-rounded"
      (click)="modal.dismiss('Cancel click')"
    >
      Annuler
    </button>
  </div>
</ng-template>
