<div class="breadcrumb">
  <ul>
    <li><a href="">TABLEAU DE BORD</a></li>
    <li>DISTRICO SENEGAL</li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <!-- CARD ICON -->
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Receipt"></i>
            <p class="text-primary text-24  mt-2 mb-2">COMMANDE</p>
            <p class="text-primary text-24 line-height-1 m-0">21</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Receipt"></i>
            <p class="text-primary text-24 t-2 mb-2">PRODUCTION</p>
            <p class="text-primary text-24 line-height-1 m-0">21</p>
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-big mb-4">
          <div class="card-body text-center">
            <p class="text-primary text-24 mt-2 mb-2">Générer un rapport</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-big mb-4">
          <div class="card-body text-center">
            <p class="text-primary text-24 mt-2 mb-2">Générer un rapport</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body p-0">
        <h5 class="card-title m-0 p-3">Sales</h5>
        <div echarts [options]="chartLineOption3" style="height: 300px"></div>
      </div>
    </div>
  </div>

</div>

